---
layout: page
indent: true
hide_footer: true

title: Inquisitive Semantics
<!-- subtitle: A semantic framework -->
image: /assets/images/book-cover.jpeg
---

<div class="container pb-5">
  <div class="row">
    <div class="col-md-6 serif px-4">
      <h2>What is inquisitive semantics?</h2>
      {{ 'Inquisitive semantics is a framework for the formal
        analysis of information exchange. It is based 
        on a notion of semantic content which, unlike the traditional 
        truth-conditional notion, captures both informative and 
        inquisitive aspects of meaning. It allows for a **unified 
        analysis of statements and questions**, as well as linguistic 
        elements that interact with both statements and questions, 
        such as modals, quantifiers, connectives, and discourse 
        particles.' | markdownify }}

      <h2>A new perspective on meaning</h2>
      {{' In inquisitive semantics, an utterance is intuitively seen 
        as a **proposal to update the already established
        information in one or more ways**. 
        Statements propose a single update. Questions propose two or 
        more alternative updates. This makes questions inquisitive: 
        they invite a response from the addressee that establishes at 
        least one of the proposed alternative updates.' | markdownify }}
      
      <h2>A new perspective on logic</h2>
      {{ 'The way in which inquisitive semantics enriches the notion of 
        meaning changes our perspective on logic as well. Besides the 
        classical notion of logical entailment, the semantics also gives 
        rise to a new notion of **inquisitive entailment** and a more 
        general treatment of logical operators such as **connectives** 
        (e.g. _and_, _or_, _if_, _not_), **quantifiers** (e.g., _some_, 
        _all_), and **modal operators** (e.g., _must_, _may_, _know_, 
        _believe_, _wonder_).' | markdownify }}
    </div>

    <div class="col-md-6 serif px-4">
      <h2>A new perspective on pragmatics</h2>
      {{ 'The way in which inquisitive semantics enriches the notion of 
        meaning also changes our perspective on pragmatics. The main 
        objective of pragmatics is to explain aspects of interpretation 
        that are not directly dictated by semantic content in terms of 
        general features of rational human behaviour. 
        Since inquisitive semantics offers a richer notion of semantic 
        content, pragmatics becomes richer as well. Traditional 
        Gricean pragmatics consists exclusively of speaker-oriented 
        rules for providing information. Inquisitive pragmatics has 
        the same basic objective, but is more general: it is both 
        speaker- and hearer-oriented, and specifies **rules for 
        exchanging information** rather than just providing information. 
        This makes it possible to derive a wider range of implicatures, 
        in particular ones that arise from inquisitiveness.' | markdownify }}
      <figure class="mt-4">
        <img src="{{ site.baseurl }}/assets/images/einstein.jpg">
      </figure>  
    </div>
  </div>
</div>

<div class="bg-light py-5">
  
  <div class="container mb-5">
    <h3 class="display-3 fw-bold pb-3">
      News
      <a class="btn btn-small btn-outline-primary ms-4" href="news.html">
        [[ View all news ]]
      </a>
    </h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 bg-light">
      {% assign newsItems = site.data.news | sort: "date" | reverse %}
      {% for item in newsItems %}
        {% if forloop.index <= 6 %}
        <div class="col {% if forloop.index > 2 %}d-none d-md-block{% endif %}">
          <p>
            <time datetime="{{ item.date | date: '%Y-%m-%d' }}" class="fw-bold">
              {{- item.date | date: "%-d %b '%y" -}}
            </time>
            {{ item.text | markdownify | replace: "<p>", "" | replace: "</p>", "" | strip -}}
          </p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="container mb-5">
    <h3 class="display-3 fw-bold pb-3">
      Featured courses
      <a class="btn btn-small btn-outline-primary ms-4" href="courses.html">
        [[ View all courses ]]
      </a>
    </h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 bg-light">
      {% assign courses = site.courses | where: "featured", true | sort: "date" | reverse %}
      {% for course in courses limit: 3 %}
        <div class="col my-3 {% if forloop.index == 3 %}d-none d-lg-block{% endif %}">
          {% include course-card.html course=course %}
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="container mt-5">
    <h3 class="display-3 fw-bold pb-3">
      Featured projects
      <a class="btn btn-small btn-outline-primary ms-4" href="projects.html">
        [[ View all projects ]]
      </a>
    </h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 bg-light">
      {% assign projects = site.data.projects | where: "featured", true | sort: "start" | reverse %}
      {% for project in projects limit: 3 %}
        <div class="col my-3 {% if forloop.index == 3 %}d-none d-lg-block{% endif %}">
          {% include project-card.html project=project %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>