---
layout: page
title: Publications
indent: true
content_classes: ''
description: >
  A list of publications on inquisitive semantics appears below. It might take a few
  seconds to load, please be patient. If you'd like your publication to appear here,
  please email the bibliographic details, preferably as a bib file, together with an
  abstract and relevant keywords, to [Floris Roelofsen](mailto:f.roelofsen@uva.nl).
header_breakpoint: lg
---

<div class="container-full sticky-top shadow-sm pb-2 bg-white">
  <div class="container pt-4">
    <form id="publications-form">
      <div class="row">
        <div class="col-6 pe-0 offset-lg-3">
          <input id="searchPubs" class="form-control form-control-sm search" placeholder="Search..."></input>
        </div>
      
        {% for group in site.data.publication_filters %}
          {% assign groupId = group.label | strip_html |capitalize | replace: ' ', '' | prepend: 'select' %}
          <div class="col-4 col-md-2 pb-2 pe-0">
            <label for="{{ groupId }}" class="small text-muted mb-2 visually-hidden">{{ group.label }}</label>
            <select id="{{ groupId }}" class="form-select form-select-sm">
              <option selected disabled value="">{{group.label}}</option>
              {% for option in group.options %}
                <option value="{{ option.value }}">{{ option.label }}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}

        <div class="col-4 col-md-2 col-auto">
          <button type="reset" class="btn btn-sm btn-outline-secondary pf-reset w-100">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container-full">
  <div class="container">
      
    <div id="publications-container" class="pt-2">
      <script src="https://bibbase.org/show?bib=https://projects.illc.uva.nl/inquisitivesemantics/assets/files/papers.bib&theme=simple&commas=true&group0=year&fullnames=1&jsonp=1" type="text/javascript"></script>
      <script src="{{ '/assets/js/pubfilter.js' | relative_url }}" type="text/javascript"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          form = PubFilter('publications-form', 'publications-container', {
            // You can specify other options here
            // replacements: {
              // 'my_regex': 'replace',
              //...
            // }
          })
        })
      </script>

      <div class="pf-no-matches my-5 py-5 row">
        <div class="col-md-2 d-none d-md-block"></div>
				<div class="col-12 col-md-10">
          <h5 class="serif text-muted fs-1">No matches...</h5>
          <p class="card-text">
            None of the publications matched the filters you have selected.
          </p>
          <button type="reset" class="btn btn-outline-dark pf-reset">Reset all filters</button>
        </div>
      </div>

    </div>
  </div>
</div>
