---
layout: default
title: People
---


{%- assign tests = site.data.test %}
{%- for test in tests %}
	{%- for person in test.people %} 	
		<li>
			{%- capture firstName %}{% include person object=person field='first_name' %}{% endcapture %}
			{%- capture lastName %}{% include person object=person field='last_name' %}{% endcapture %}
			{%- capture fulltext %}{% include person object=person field='fulltext' %}{% endcapture %}
			{%- if lastName != "" %}
				{{firstName}} {{lastName}}
			{%- else if fulltext != "" %}
				{{fulltext}}
			{%- else %}
				Person not found
			{% endif %}
		</li>
	{%- endfor %}
{%- endfor %}