<nav class="navbar navbar-expand-md navbar-light py-2 sticky-top bg-white">
	<div class="container">
		<a href="{{ site.baseurl }}/" class="navbar-brand serif col-md-3 plain">
			{{ site.title }}
		</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
	      <span class="navbar-toggler-icon"></span>
	    </button>
		<div class="collapse navbar-collapse" id="navbarNav">
    		<ul class="navbar-nav">
			  {% for item in site.data.navigation %}
			  	<li class="nav-item">
				    <a href="{{ item.link | relative_url }}" class="nav-link plain">
				      {{ item.name }}
				    </a>
				</li>
			  {% endfor %}
			</ul>
		</div>
	</div>
</nav>