#bibbase_header {
  display: none;
}

.bibbase_group_whole {
  @extend .py-4, .row;
  
  .bibbase_group {
    @extend .col-12, .col-lg-3;
    @extend .display-2, .px-3, .mb-3;
    @extend .d-flex, .flex-row-reverse, .justify-content-between;
    
    // To avoid all whitespace below a year becoms clickable 
    max-height: 3rem;

    .bibbase_group_head_icon {
      @extend .pt-2;
      font-size: 2rem;
      opacity: .25;
    }
  }

  .bibbase_group_body {
    @extend .col-12, .col-lg-9;
    @extend .row, .row-cols-1, .row-cols-sm-2;
    @extend .border-bottom, .pb-4;
  }
}

.bibbase_paper {
  @extend .py-2;
  @extend .serif;

  span.bibbase_paper_title {
    @extend .text-dark;
    font-family: $font-family-sans-serif;
    font-size: .8em;
    a {
      font-weight: bolder !important;
    }
  }

  .bibbase_paper_author {
    @extend .mark;
    padding: 0;
  }

  span.note {
    @extend .d-block, .text-muted, .small, .mt-1;
  }
}

.bibbase_paper_content {
  font-family: $font-family-sans-serif;
  @extend .d-block, .mt-1;
}

.bibbase.link,
.bibbase_icon_text {
  @extend .badge, .rounded-pill, .bg-light, .text-dark;
  &:hover {
    @extend .bg-secondary, .text-light;
  }
}

.bibbase.well {
  @extend .m-0, .pt-4, .pb-2, .text-primary, .small;

  &[data-type=abstract]:before {
    content: "Abstract";
    font-weight: bold;
    column-span: all;
    font-family: $font-family-sans-serif;
    font-size: .8rem;

    @extend .d-block, .mb-1;
  }

  &[data-type=bibtex] {
    font-size: .7em;
    @extend .text-primary, .mb-0;
  }
}