.serif {
    font-family: $font-family-serif;
    line-height: $line-height-serif;
    font-size: calc(6 / 5.2 * 1rem);
    font-weight: 300;
}

.lead p {
    font-size: $lead-font-size;
}

article {
    strong, mark, .mark {
        font-weight: inherit;
        @extend .mark;
    }
}

article {
    // background: $gray-100;
}


h2::before {
    content: "[[";
    display: inline-block;
    margin-left: -1rem;
    width: 1rem;
}

h2 {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;

    text-decoration: underline;
    text-decoration-color: transparentize($color5, .5);
    text-decoration-thickness: auto;
    text-underline-offset: -.3em;
    text-decoration-thickness: .7em;
    text-decoration-skip-ink: none;
}


h1.title {
    font-weight: bold;
    .subtitle {
        font-weight: 300;
        font-style: italic;
    }
}

.practicalities {
    color: $color2;
    font-family: $font-family-sans-serif;
}

.card-title {
    font-family: $font-family-serif;
    a {
        text-decoration: underline;
        text-decoration-color: transparentize($primary, .85);
        text-decoration-thickness: auto;
        text-underline-offset: -.3em;
        text-decoration-thickness: .5em;
        text-decoration-skip-ink: none;

        &:hover {
            text-decoration-color: transparentize($color5, .5);
        }
    }
}

span.sep {
    color: $color5;
}

*:not(h1, h2, h3, h4) > a:not(.plain, .btn) {
    color: $black;
    text-decoration: underline;
    text-decoration-color: transparentize($primary, .9);
    text-decoration-thickness: auto;
    text-underline-offset: -.3em;
    text-decoration-thickness: .5em;
    text-decoration-skip-ink: none;

    &:hover {
        text-decoration-color: transparentize($color5, .5);
    }

    &::before {
        content: '[[';
        padding-right: .15em;
    }

    &::after {
        content: ']]';
        padding-left: .1em;
    }

    &::before, &::after {
        color: transparentize($primary, 0);
        letter-spacing: -.1em;
    }
}



.news {

//     ul {
//         padding: 0;
//     }

//     li {
//         list-style: none;
//         padding: 0;
//     }

    time {
        // display: inline;
        font-weight: 600;
//         // &::before {
//         //     content: '[[';
//         //     color: $color5;
//         // }
    }
}