---
---

// @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,300;0,600;1,600&family=Lato:ital,wght@0,300;1,300;0,400;1,400;0,500;1,500;0,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,600;1,300;1,600&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// @import "main";
@import 'bootstrap/bootstrap';

@import 'typography';

@import 'bibbase';


.grayscale-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.portrait {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1;
    transition: scale ease 1500ms;
}

.rounded-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    overflow: hidden;
    background-color: $gray-500;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .initials {
        width: 100%;
        display: block;
        text-align: center;
        font-family: $font-family-sans-serif;
        color: $white;

    }
}

.fund-logo {
    max-width: 3rem;;
}

.person.tag {
    height: 2.5rem;
    border-radius: 2.5rem;
    // font-family: $font-family-sans-serif;
}

// temporary css for people/project images
.person {
    // overflow: hidden;
    // background: transparentize($primary, .8);

    .img {
        background-size: cover;
        background-position: center; 
        // mix-blend-mode: darken;

        height: 100%;
        min-height: 150px;
        object-fit: cover;
    }

    &:hover img {
        scale: 1.05;
    }

    .card-img-overlay {
        padding-top: 50%;
        background: linear-gradient(
            10deg, 
            rgba(0, 0, 0, .5) 0%, 
            rgba(0, 0, 0, 0) 50%,
            transparentize($primary, .85) 100%)
    }
        
    .card-title{
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        line-height: 1;

        a {
            text-decoration-color: transparentize($primary, .5);
        }

        a:hover {
            text-decoration-color: transparentize($color5, .5);
        }
    }
}
// .project .img {
//     height: 120px;
//     width: 200px;
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center; 
// }

.navbar {
    z-index: 9999;
}