---
---

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,300;0,600;1,600&family=Lato:ital,wght@0,300;1,300;0,400;1,400;0,600&display=swap');

// @import "main";
@import 'bootstrap/bootstrap';

@import 'typography';

// temporary css for people/project images
.person .img {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center; }

.project .img {
    height: 120px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }