---
layout: default
---

<article>
  <div class="container mt-md-5 py-5">
    <header class="row">
      <div class="col-md-3 align-content-end d-flex flex-column justify-content-end">
        {%- if page.image %}
        <img src="{{ page.image | relative_url }}" class="w-100 d-none d-md-block mb-4" style="object-fit: contain" />
        {%- endif %}
      </div>
      <div class="col-md-9">
        <h1 class="title display-1 mb-md-5 mb-3">
          {{ page.title }}
          {%- if page.subtitle -%}
            <span class="colon d-none">:</span>
            <span class="subtitle d-block">{{ page.subtitle }}</span>
          {%- endif %}
        </h1>

        <p class="text-primary mb-3">
          {%- if page.date %}
            {%- if page.end_date %}
              {% include period start=page.date end=page.end_date %}
            {%- else %}
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
              {{- page.date | date: '%d %b %Y' -}}
            </time>
            {%- endif %}
            {%- if page.location %}
              <span class="sep">•</span>
            {%- endif %}
          {%- endif %}
          {%- if page.location %}
            {{ page.location }}
            {%- if page.venue %}
              <span class="sep">•</span>
            {%- endif %}
          {%- endif %}
          {%- if page.venue %}
            {{ page.venue | markdownify | replace: '<p>', '' | replace: '</p>', '' }}
          {%- endif %}
        </p>

        {%- if page.description %}
        <div class="lead serif">
          {{ page.description | markdownify }}
        </div>
        {%- endif %}

        {%- if page.schedule %}
          <a class="btn btn-outline-primary mt-3" href="#schedule">Jump to schedule</a>
        {%- endif %}
      </div>
    </header>

    {%- if page.practicalities and false %}
    <section class="row practicalities mt-5 mb-1">
      <div class="col-md-3 d-none d-md-block">
        <!-- <span class="text-primary small">Practicalities</span> -->
        {%- if page.schedule %}
          <a class="btn btn-outline-primary mt-3" href="#schedule">Jump to schedule</a>
        {%- endif %}
      </div>
      <div class="col-md-9 container">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
          {%- for item in page.practicalities %}
          <div class="col mb-3">
            <h5 class="small my-0 fw-bold">{{ item.label }}</h5>
            <p class="small my-0">{{ item.text | markdownify | remove: '<p>' | remove: '</p>'}}</p>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>
    {%- endif %}

    <section class="row people my-3">
      <div class="col-md-3 d-none d-md-flex align-items-center">
        <!-- <span class="text-primary small">Teaching staff</span> -->
      </div>
      <div class="col-md-9 container">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4">
          {%- for person in page.people %}
          <div class="col my-4">	
            {% include person-card person=person show_affiliation='false' %}
          </div>
          {%- endfor %}
          <div></div>
        </div>
      </div>
    </section>

    <section class="serif row">
      <div class="col-md-3 d-none d-md-block"></div>
      <div class="col-md-9">
        {{ content }}
      </div>
    </section>
  </div>

  {%- if page.schedule %}
  <div class="container-full border-top border-bottom bg-light">
    <section class="container my-5 py-3" id="schedule">
      <h3 class="display-3 fw-bold pb-3">Schedule</h3>
      {% if page.schedule_intro %}  
        <div class="">{{ page.schedule_intro | markdownify }}</div>
      {% endif %}
      <div class="table-responsive">
      {{ page.schedule }}
      </div>
    </section>
  </div>
  {%-endif %}
  
</article>