<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Site title defined in _config.yml; Page title defined in frontmatter for each page -->
    <title>{{ page.title }} - {{ site.title }}</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicon/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon//favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon//favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
  
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
    <script src="{{ '/assets/js/bootstrap/bootstrap.bundle.min.js' | relative_url }}"></script>
  </head>
  <body>
    {%- include navigation.html %}
    
    {{- content }}
    
    {%- unless page.hide_footer %}
    {%- include footer.html %}
    {%- endunless %}
  </body>
</html>