---
layout: default
content_classes: bg-light
---

<article>
  <div class="container py-5">
    <header class="row mt-5">
      {% if page.indent %}
      <div class="col-md-3">
        {% comment %}To do : figure goes here {% endcomment %}
      </div>
      {% endif %}
      <div class="{% if page.indent %}col-md-9{% endif %}">
        <h1 class="title display-1 mb-5">
          {{ page.title }}
          {%- if page.subtitle -%}
            <span class="colon d-none">:</span>
            <span class="subtitle d-block">{{ page.subtitle }}</span>
          {%- endif %}
        </h1>
        {%- if page.description %}
        <div class="lead serif">
          {{ page.description | markdownify }}
        </div>
        {%- endif %}
      </div>
    </header>
  </div>
  
  <div class="{{ page.content_classes }} py-4">
    {{ content }}
  </div>
</article>